.app.light {
  --bg-color: #a9a9c6;
  --inverted-bg-color: #0e0eb6;

  --primary-color: #0c0f97;
  --secondary-color: #444aef;
  --inverted-primary-color: #de1a27;
  --inverted-secondary-color: #dd4e58;
}
